statics/css/bootstrap*.css linguist-vendored
statics/js/bootstrap*.js linguist-vendored
statics/js/jquery*.js linguist-vendored
statics/vendor/* linguist-vendored
statics/plugins/* linguist-vendored

statics/template/* linguist-vendored